# dependencies
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/
build/

# local env files
.env*.local
.env

# vercel
.vercel/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

